.app-logo{
	float:left;
	margin: 18px 19px 0 40px;
}
.app-name{
	float:left;
	margin: 33px 0 0 0;
	color: @color-text;
	font-size: 16px;
	font-weight: 600;
	line-height:1em;
	
}
.main-nav{
	
}
.main-nav__item{
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 14px;
}
.main-nav__item_active{
	border-bottom: 3px solid #f8f9f9;
}
.skip-types{
	.clearfix();
}
.skip-type{
	background: #fff;
	width: 224px;
	float: left;
	margin:0 16px 0 0;
	border:2px solid #e7e7e7;
	height: 300px;
	text-align: center;
	opacity: 0;
	transform: scale(0.5);
	transition: all 277ms ease;
	color: @color-text;
	&:hover{
		cursor: pointer;
		.box-shadow(@shadow-type-hover);
	}
	&.skip-type_render{
		opacity: 1;
		transform: scale(1);
	}
}
.skip-type__icon{

  margin: 28px 0 5px;
  height: 80px;
  line-height: 80px;
  .icon{
vertical-align: bottom;
  }
}
.skip-type__name{
display: table;
  text-align: center;
  width: 76%;
  margin: 20px 0;
  height: 48px;
  padding: 0 12%;
	font-size: 16px;
	line-height:24px;
	margin-bottom:16px;
	font-weight: 600;
	div{
		  display: table-cell;
		vertical-align: middle;
	}
}
.skip-type__description{
	color:@color-text-gray;
	font-size:14px;
	line-height:18px;
}
.forms{
background: #fff;
padding: 26px 15px;
border: 1px solid @color-border;	
}
.forms__form{
border-bottom: 1px solid @color-border;	
	
}

.forms__button-add{
	
}


.title{
	margin-top:0px;
	font-size: 24px;
	font-weight: 600;
	color: @color-text;
	margin-bottom: 15px;
	line-height:1em;
}