.s-content{
	width: @width-content;
	margin:0 auto;
	margin: 0 auto;
	padding: 0 40px;
	.border-box();
}
.s-header{
	 background: @bg-color-header;
	 height: 80px;
	 border-bottom: 1px solid rgba(0,0,0,.05);
}
.s-nav{
	background: @bg-color-nav;
	height: 48px;
}

.s-step{

}
.s-content-step{
	width: 464px;
	margin:0 auto;
/*	padding-top: 58px;*/
	padding-bottom: 120px;
}

.s-complete{
	text-align: center;
}