.s-content{
	width: @width-content;
	margin:0 auto;
}
.s-header{
	 background: @bg-color-header;
	 height: 80px;
}
.s-nav{
	background: @bg-color-nav;
	height: 48px;
}

.s-step{

}
.s-content-step{
	width: 464px;
	margin:0 auto;
	padding-top: 58px;
}

.s-complete{
	background: @color-blue;
}